<ion-view view-title="Infant Foods">     
  <ion-content class="padding has sub-headers">

  <h3 class="assertive">Facts for Your Infant with CF </h3>
            <img src="{{foods[0].pic}}" class ="img-responsive" width = "225"  >
   <list class=" im-wrapper padding item-text-wrap">
     <li> A balanced diet, which includes optimal  calories, vitamins and minerals,
        is important  for good nutritional health for your infant with EPI due to CF</li>
    <li>    
Your infant with CF needs more calories, vitamins and salt when compared to infants  who do not have CF. Infants with EPI due to  CF need to be given supplemental pancreatic enzymes every time they are fed
</li>
<li>
Breast milk and/or infant formula is the best source of nutrition in your baby’s first year of life
</li>
<li>
If a baby’s weight gain is slow, your CF Center dietitian or care provider may suggest ways for you to add extra calories to breast milk or formula
</li>
<li>
Vitamin supplements are important for babies who have CF to help meet their nutritional needs. Your CF Center dietitian will prescribe the vitamins and minerals that are just right for your baby
</li>
<li>
All people who have CF, including babies, need extra salt. It is very important that you add the amount of salt your CF Center dietitian has recommended to your baby’s meals. Too much or too little salt can be a problem for your baby
</li>
</list>

  </ion-content>
</ion-view>
