<ion-view view-title="Toddler Foods">     
  <ion-content class="padding">
  <h3 class="assertive">Important Facts for Your Toddler with CF </h3>
           
   <list class"item-text-wrap">
      
     <div> <img src="{{foods[1].pic}}" class ="img-responsive" width = "150" ><br>A balanced diet, which includes optimal calories, vitamins and minerals, 
       is key to good nutritional health for your toddler with EPI due to CF. 
       Remember that your toddler with CF needs more calories, vitamins and salt
        than toddlers who do not have CF</div><br>
   <div>  
- Toddlers with EPI due to CF need to take supplemental pancreatic enzymes every time they eat or drink anything that contains fat or protein
</div>
<div>
- Enzymes, vitamins and extra calories will help your toddler gain weight, grow and be healthy
</div>
<div>
- Toddlers who have CF need extra calories. Ways to add extra calories and nutrients include
</div>
<div>
 - Whole milk at every meal. For extra calories add cream to the milk
  </div>
  <div>
- Whole milk dairy products, like cottage cheese, yogurt and puddings. Add cream to cereal
</ul>
<ul>
- Using healthy margarine or butter on hot foods, breads and crackers. Extra cheese in casseroles, on pizza and in sandwiches adds more calories to the meal
</div>
<div>
- Use whole grains and add fat such as margarine, butter, or cream cheese. Serve vegetables with margarine, butter, or salad dressing for dipping. Try ripe avocado as a treat. Dip fresh fruit in whole milk yogurt
</div>
<div>
- Fat is the best source of calories for your toddler with CF. Each teaspoon of fat has 45 calories while protein and carbohydrates have 20 calories. So adding fats to all foods will increase the calories
</div>
<div>
- Calcium is needed for healthy bones. According to the Institute of Medicine of the National Academies, a toddler needs about 700 mg of calcium daily, so including milk and other dairy products in your toddler’s diet is very important
  </div>

</list>
  </ion-content>
</ion-view>