<ion-view view-title="Child Foods">     
  <ion-content class="padding has sub-headers">

  <h3 class="assertive">Important Facts for Your Child with CF </h3>
           
   <list class"item-text-wrap">
      
     <div> <img src="{{foods[2].pic}}" class ="img-responsive" width = "150" ><br>
     A balanced diet, which includes optimal calories, vitamins and minerals, is important to good nutritional health for your child with EPI due to CF. Remember that your child with CF needs more calories, vitamins and salt than children who do not have CF</div><br>
   <div>  
- Children with EPI due to CF need to take supplemental pancreatic enzymes every time they eat or drink anything that contains fat or protein
</div>
<div>
- Enzymes, vitamins and extra calories will help your child gain weight, grow and be healthy
</div>
<div>
<h4 class="assertive">A child who has CF needs extra calories. To add extra calories and nutrition, include:</h4>
</div>
<div>
 - Whole milk at every meal. For extra calories add cream to the milk
  </div>
  <div>
- Whole milk dairy products, like cottage cheese, yogurt and puddings. Add cream to cereal
</ul>
<ul>
- Using healthy margarine or butter on hot foods, breads and crackers. Extra cheese in casseroles, on pizza and in sandwiches adds more calories to the meal
</div>
<div>
-Use whole grains with added fat such as margarine, butter or cream cheese. Serve vegetables with margarine, butter or salad dressing for dipping. Try ripe avocado as a treat. Dip fresh fruit in whole milk yogurt. Spread peanut butter on toast, crackers and fruit
</div>
<div><br>
- Fat is the best source of calories. Each teaspoon of fat has 45 calories while protein and carbohydrates have 20 calories. So adding fats to all foods will increase the calories
</div>
<div> <br>
- Calcium is needed for healthy bones. A child needs about 1,000-1,300 mg of calcium daily - about three or four servings of dairy products daily
  </div>

</list>
  </ion-content>
</ion-view>
