<ion-view view-title="Teenager Foods">     
   
  <ion-content class="padding has sub-headers">

  <h3 class="assertive">Important Facts for Your Teen with CF </h3>
           
   <list class"item-text-wrap">
      
     <div> <img src="{{foods[3].pic}}" class ="img-responsive" width = "150" ><br>
    Since the teen years are a time of rapid growth, a balanced diet, which includes optimal calories, vitamins and minerals, is important for good nutritional health for any teen with EPI due to CF. Remember that teens with CF need more calories, vitamins and salt than teens who do not have CF. Even if teens eat a diet that is well-balanced, they may also need to take additional vitamin supplements in order to maintain normal vitamin levels</div><br>
   <div>  
- In addition, teens with EPI due to CF need to take supplemental pancreatic enzymes every time they eat or drink anything that contains fat or protein. It may be helpful to keep a supply of enzymes wherever you go
</div>
<div> <br>
- The teen years can be a very busy time with many school and social activities, so getting the necessary daily nutrients can be a challenge. Keeping a supply of healthy snacks in a backpack or locker is a good idea. Examples of healthy snacks include: nuts, trail mix, packaged peanut butter or cheese crackers, canned shakes, or granola bars
</div>
<div> <br>
- Examples of protein sources include: meat and meat products, milk and milk products, fish, seafood, soy products such as tofu, beans, eggs and nuts
</div>
<div> <br>
 - Additional iron is needed during puberty when muscles and blood volume increase. Meats are the best source of iron
  </div>
  
<div> <br>
-Calcium is needed for healthy bones and teens may need 1,300 – 1,500 mg of calcium daily – about four servings of dairy products every day
  </div>

</list>
  </ion-content>
</ion-view>

</ion-view>