<ion-view view-title="Adults Foods">     
   
   
  <ion-content class="padding has sub-headers">

  <h3 class="assertive">Important Facts for Adults with CF </h3>
           
   <list class"item-text-wrap">
      
     <div> <img src="{{foods[4].pic}}" class ="img-responsive" width = "150" ><br>
    A balanced diet, which includes optimal calories, vitamins and minerals, is important for good nutritional health for any adult with EPI due to CF. Remember that you need more calories, vitamins and salt than adults who do not have CF. Even if adults eat a diet that is well-balanced, they may also need to take additional vitamin supplements in order to maintain normal vitamin levels</div><br>
   <div> <br> 
- Adults with EPI due to CF need to take supplemental pancreatic enzymes every time they eat or drink anything that contains fat or protein. It may be helpful to keep a supply of enzymes with you wherever you go
</div>
<div><br>
- It can be a challenge to include fruits and vegetables in a high calorie diet. Think about topping ice cream, yogurt, or pudding with fresh fruit. Add vegetables to pizza, lettuce and tomato to sandwiches, and shredded carrots to spaghetti sauce
</div>
<div> <br>
- Calcium is needed for healthy bones and adults may need 1,000 mg of calcium dail
</div>



</list>
  </ion-content>
</ion-view>

