<ion-view view-title="About ">
  <ion-content class="padding">
    
    <h3 class="assertive">Welcome to myCF Application</h3>
    <p>Maintaining the daily needs and nutrition of CF is a challenge for CF patients. 
Developing a mobile application would definitely enhance your life with information 
at their fingertips. <br>
This application was developed with you in my mind since I believe everyone deserves to breath.
 </p>
 <br>
 Version 1.00
 <br>
 All Rights Reserved: Azma
 </br>
  </ion-content>
</ion-view>
