<ion-view view-title="Cystic Fibrosis">
  <ion-content class="item-text-wrap" >   
        <div class="item item-image ">             
            <img src="img/dna_small.jpg" class ="img-responsive" width = "205">            
          </div>
   <div class="im-wrapper padding item-text-wrap">
        <h4 class="assertive"> What is Cystic Fibrosis? </h4>
        <p class="padding">Cystic Fibrosis (CF), is a genetic disorder that is inherited from their parents which is a life threatning disease. A person can be born as Cystic Fibrosis or they could be a carrier. Cystic fibrosis mostly affects the lungs, pancreas, liver, kidneys and intestine. </p>
      <h4 class="assertive">Signs and Symptoms</h4>
    <list  >
        <ul>1. Persistant Cough that produce sputum</ul>
        <ul>2. Breathlesness, exercise Intolerance</ul>
        <ul>3. Wheezing, inflamed nasal passage</ul>
        <ul>4. Foul smelling greasy stools</ul>
        <ul>5. Repeated lung infections</ul>
        <ul>6. Poor weight gain and growth</ul>
    </list>
    <div>    
  </ion-content>
</ion-view>
