<ion-view view-title="Nutrition Guidelines">
  <ion-content class = "padding has sub-header">     
    <ion-list >
      
      <ion-item class="item-text-wrap">
       Eating well is vital for people with cystic fibrosis (CF) below is a general guideline.
       
       <br> </ion-item>
<ion-item class="item-text-wrap">
<h2><strong>General Dietary Guidelines</strong><h2> <br>
<list>
  <ul>1. 3 meals, 2-3 snacks per day</ul>
  <ul>2. Pancreatic enzyme and vitamin supplementation</ul>
  <ul>3. Unrestricted diet (high fat foods and additives)</ul>
  <ul>4. Supplements and nourishments</ul>
  <ul>5. Encourage variety of while grains, nuts, fruits and veggies</ul>
  <ul>6. Counseling to provide ideas for calories boosters</ul>
  <ul>7. Extra salt especially during hot weather or exercise</ul>
  <ul>8. Adequat Calcium and fat-solube vitamins</ul>
  </list>
     </ion-item>      
    </ion-list>
    <br>
  
  
   
  </ion-content> 
</ion-view>