<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">       
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">  
            
      <!--<h1 class="title">Menu</h1>-->
   
    <ion-content>
       <div class="item item-image">
            <img src="img/banner_small.jpg">            
          </div>
     
<div class="list">

  <a class="item item-icon-left" menu-close href="#/app/home">
    <i class="icon ion-home"></i>
    Home
  </a>

  <a class="item item-icon-left" menu-close href="#/app/cystic" >
    <i class="icon ion-ios-rose"></i>
   Cystic Fibrosis   
  </a>

  <a class="item item-icon-left" menu-close href="#/app/regimen">
    <i class="icon ion-heart"></i>
   My Regimen    
  </a>

  <a class="item item-icon-left" menu-close href="#/app/treatment">
    <i class="icon ion-leaf"></i>
   My Treatment
   </a>

    <a class="item item-icon-left" menu-close href="#/app/nutrition">
    <i class="icon ion-ios-nutrition"></i>
   Nutrition Diet
   </a>
<a class="item item-icon-left" menu-close href="#/app/about">
    <i class="icon ion-ios-person"></i>
   About Us
   </a>
   <a class="item item-icon-left" menu-close href="#/app/feedback">
    <i class="icon ion-thumbsup"></i>
   Feedback
   </a>
</div>

      
    </ion-content>
  </ion-side-menu>
</ion-side-menus>








