<ion-view view-title="Recipes">
  <ion-content>
    <div class = "row responsive-sm">
   <div class = "col col-30">
        <a menu-close href="#/app/nutrition/11" class="item item-icon-center ">  
       <div class="row"> <h2 class="assertive"><strong>Breakfast </strong></h2> </div> 
       <img src="img/breakfast_img.jpg" class ="img-responsive" width = "275" ></a>
       </div>
   <div class = "col">
     <a menu-close href="#/app/nutrition/12" class="item item-icon-center ">  
       <div class="row"> <h2 class="assertive"><strong>Lunch</strong></h2> </div> 
       <img src="img/lunch_img.jpg" class ="img-responsive" width = "275" ></a>
     </div>
   <div class = "col">
     <a menu-close href="#/app/nutrition/13" class="item item-icon-center ">  
       <div class="row"> <h2 class="assertive"><strong>Dinner</strong></h2> </div> 
       <img src="img/dinner_img.jpg" class ="img-responsive" width = "275" ></a>
       </div>
   
  </div> 

 <div class = "row responsive-sm">

  <div class = "col col-30">
     <a menu-close href="#/app/nutrition/14}" class="item item-icon-center ">  
       <div class="row"> <h2 class="assertive"><strong>Desserts</strong></h2> </div> 
       <img src="img/desserts_img.jpg" class ="img-responsive" width = "275" ></a>
  </div>

  <div class = "col">
     <a menu-close href="#/app/nutrition/15" class="item item-icon-center ">  
       <div class="row"> <h2 class="assertive"><strong>Snacks</strong></h2>
        </div> 
       <img src="img/snacks_img.jpg" class ="img-responsive" width = "275" ></a>
    </div>

    <div class = "col">
     <a menu-close href="#/app/nutrition/16" class="item item-icon-center ">  
       <div class="row"> <h2 class="assertive"><strong>Snacks</strong></h2>
        </div> 
       <img src="img/smoothies_img.jpg" class ="img-responsive" width = "275" ></a>
    </div>
  </div>
  </ion-content>
</ion-view>