<ion-view view-title="My Regimen">
  <ion-content class = "padding has sub-header">
    <div class="item-text-wrap item item-icon-center assertive item-borderless">
      <h2 class="assertive"><strong> Select a category below: </strong></h2></div>   

<div class="list card" >

  <a menu-close href="#/app/daily" class="item item-icon-center ">    
  
            <img src="img/daily_med_1.jpg" class ="img-responsive" width = "305" >
  </a>
  <a menu-close href="#/app/daily" class="item item-icon-center">
            <img src="img/oral_med_1.jpg" class ="img-responsive" width = "305" > 
  </a>
 <a menu-close href="#/app/daily" class="item item-icon-center">
            <img src="img/inhaled_med_1.jpg" class ="img-responsive" width = "305" > 
  </a>
 <a menu-close href="#/app/daily" class="item item-icon-center">
            <img src="img/other_med_1.jpg" class ="img-responsive" width = "305" > 
  </a>
 
</div>
   
  </ion-content>
</ion-view>